/* @font-face {
  font-family: 'PixelifySans';
  src: url('./assets/fonts/PixelifySans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
} */

/* body {
  font-family: 'PixelifySans', sans-serif;
} */

body {
  background-color: #000;
}

.parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.time-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.time {
  color: #fff;
  font-size: 3rem;
}

.time-buttons {
  display: flex;
  gap: 10px;
}

.time-button {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

.time-button:disabled {
  cursor: not-allowed;
  opacity: 1;
}

.time-image {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.main {
  width: 40vw;
  height: 40vw;
  max-width: 400px;
  max-height: 400px;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./assets/images/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
}

.foreground {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 200%;
  height: 100%;
  background-size: auto 100%;
  background-repeat: repeat-x;
  z-index: 2;
}

.foreground-running {
  background-image: url('./assets/images/foreground_1.png');
  animation: scrollRoad 2.5s linear infinite;
}

.foreground-stopped {
  background-image: url('./assets/images/foreground_0.png');
}

.car {
  position: absolute;
  bottom: 28%;
  width: 30%;
  z-index: 3;
}

@keyframes scrollRoad {
  from {
    transform: translateX(0);
  }
  to {
    /* transform: translateX(-50%); */
    transform: translateX(-39%);
  }
}

@media (max-width: 768px) {
  .main {
    width: 95vw;
    height: 95vw;
    max-width: 400px;
    max-height: 400px;
  }
}

.toggle-button {
  border: none;
  background: none;
  padding: 0;
  margin: 20px 0;
  cursor: pointer;
  display: inline-block;
  width: 92px;
  height: 50px;
}

.button-image {
  width: 100%;
  height: 100%;
  display: block;
}
